@using CmsKitDemo
@{
    var platformVersion = CmsKitDemoAssemblyInfo.GetAssemblyInformationOrNull();
    var dotnetVersion = CmsKitDemoAssemblyInfo.GetDotNetVersion();
    
    if (platformVersion != null && dotnetVersion != null)
    {
        <footer class="mt-5">
            <div class="text-muted text-center" style="font-size: 0.9em;border-top: 1px solid #c6c6c6;padding: 10px">
                Made with ❤️ on <strong>@($"ABP v{platformVersion.ProductVersion} & {dotnetVersion}")</strong>. Updated on <strong>@($"{platformVersion.ModificationDate.ToString("MMMM dd, yyyy, HH:mm")}")</strong>.
            </div>
        </footer>

    }
}