@page
@using CmsKitDemo;
@using Volo.Abp.GlobalFeatures;
@using Volo.CmsKit.GlobalFeatures;
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Commenting;
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.ReactionSelection;
@model CmsKitDemo.Pages.Gallery.DetailModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4 box-shadow h-md-250">
            <div class="row">
                <div class="col-8">
                    <img class="img-fluid w-100" data-src="holder.js/200x250?theme=thumb" style="height: 598px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a836988d3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a836988d3%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.20000076293945%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                </div>
                <div class="col-4">
                    <div class="image-detail-wrapper">
                        <p class="mb-auto">@@Description</p>

                        @if (GlobalFeatureManager.Instance.IsEnabled<ReactionsFeature>())
                        {
                            @await Component.InvokeAsync(typeof(ReactionSelectionViewComponent), new
                            {
                                entityType = CmsKitDemoConsts.ImageGalleryEntityType,
                                entityId = Model.ImageId.ToString()
                            })
                        }

                        @if (GlobalFeatureManager.Instance.IsEnabled<CommentsFeature>())
                        {
                            @await Component.InvokeAsync(typeof(CommentingViewComponent), new
                            {
                                entityType = CmsKitDemoConsts.ImageGalleryEntityType,
                                entityId = Model.ImageId.ToString()
                            })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>