@page
@using CmsKitDemo;
@using Volo.Abp.GlobalFeatures;
@using Volo.CmsKit.GlobalFeatures;
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.Commenting;
@using Volo.CmsKit.Public.Web.Pages.CmsKit.Shared.Components.ReactionSelection;
@model CmsKitDemo.Pages.Gallery.DetailModel

@section styles{
    <abp-style src="/Pages/Gallery/Detail.cshtml.css" />
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4 box-shadow h-md-250">
            <div class="row">
                <div class="col-8">
                    <img class="img-fluid w-100" style="height: 598px;" src="/api/cms-kit/media/@Model.Image.CoverImageMediaId">
                </div>
                <div class="col-4">
                    <div class="image-detail-wrapper">
                        <p class="mb-auto">@Model.Image.Description</p>
                        <small class="text-muted">Published at: @Model.Image.CreationTime.ToShortDateString()</small>

                        @if (GlobalFeatureManager.Instance.IsEnabled<ReactionsFeature>())
                        {
                            @await Component.InvokeAsync(typeof(ReactionSelectionViewComponent), new
                            {
                                entityType = CmsKitDemoConsts.ImageGalleryEntityType,
                                entityId = Model.Image.Id.ToString()
                            })
                        }

                        @if (GlobalFeatureManager.Instance.IsEnabled<CommentsFeature>())
                        {
                            @await Component.InvokeAsync(typeof(CommentingViewComponent), new
                            {
                                entityType = CmsKitDemoConsts.ImageGalleryEntityType,
                                entityId = Model.Image.Id.ToString()
                            })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>