@page
@using CmsKitDemo.Localization;
@using Microsoft.Extensions.Localization;
@model CmsKitDemo.Pages.Gallery.ImageGalleryModel
@inject IStringLocalizer<CmsKitDemoResource> L

@section styles {
    <abp-style src="/Pages/Gallery/Index.cshtml.css" />
}

@if(Model.Images.Any())
{
    <div class="container">
        <div class="row">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                var image = Model.Images[i];

                <div class="col-3 my-3">
                    <a class="card box-item" href="/image-gallery/detail/@image.Id">
                        <img src="/api/cms-kit/media/@image.CoverImageMediaId" class="card-img-top" alt="@image.Description.TruncateWithPostfix(47, "...")" />
                        <div class="overlay d-flex justify-content-center align-items-center">
                            <div class="image-detail">
                                <span class="badge bg-secondary"><i class="fa fa-heart"></i> @image.LikeCount</span>
                                <span class="badge bg-secondary"><i class="fa fa-comment"></i> @image.CommentCount</span>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="alert alert-info" role="alert">
        @L["ThereIsNotAnyImageYet"]
    </div>
}
