.box-item:hover {
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.7;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: rgba(0, 0, 0, 0.3);
}

.box-item:hover > .overlay {
    opacity: 1;
}