#blogs-filter-area {
    display: none;
}

img.card-img-top {
    min-height: 240px;
}

.card-img-top {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.popover {
    min-width: 276px;
}

.author-name-span{
    cursor: pointer;
}

.cms-blogpost-desc-preview {
    min-height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.favorite-toggle {
    width: 40px;
    height: 40px;
}