// Lux 5.3.1
// Bootswatch
// Lux 5.3.1
// Bootswatch

$theme: "lux" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #f7f7f9 !default;
$gray-300: #eceeef !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #919aa1 !default;
$gray-700: #55595c !default;
$gray-800: #343a40 !default;
$gray-900: #1a1a1a !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #4bbf73 !default;
$teal:    #20c997 !default;
$cyan:    #1f9bcf !default;

$primary:       $blue !default;
$secondary:     $indigo !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-800 !default;

$min-contrast-ratio:   2.3 !default;

// Options

$enable-rounded:            false !default;

// Body

$body-color:                $gray-700 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$h1-font-size:                2rem !default;
$h2-font-size:                1.75rem !default;
$h3-font-size:                1.5rem !default;
$h4-font-size:                1.25rem !default;
$h5-font-size:                1rem !default;
$h6-font-size:                .75rem !default;
$headings-font-weight:        600 !default;
$headings-color:              $gray-900 !default;

$font-size-sm:                .875rem !default;
// Tables

$table-border-color:          rgba(0, 0, 0, .05) !default;

// Buttons + Forms

$input-btn-border-width:      0 !default;

// Buttons

$btn-line-height:             1.5rem !default;
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;
$input-btn-padding-y-sm:      .5rem !default;
$input-btn-padding-x-sm:      1rem !default;
$input-btn-padding-y-lg:      2rem !default;
$input-btn-padding-x-lg:      2rem !default;
$btn-font-weight:             600 !default;

// Forms

$input-line-height:                     1.5 !default;
$input-bg:                              $gray-200 !default;
$input-disabled-bg:                     $gray-300 !default;
$input-group-addon-bg:                  $gray-300 !default;

$form-select-disabled-color:        $gray-600 !default;
$form-select-disabled-bg:           $input-disabled-bg !default;

// Navbar

$navbar-padding-y:                  1.5rem !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-color:                rgba($black, .3) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default; 

// Pagination

$pagination-border-color:           transparent !default;
$pagination-hover-border-color:     $pagination-border-color !default;
$pagination-disabled-border-color:  $pagination-border-color !default;


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}


body {
    font-weight: 200;
    letter-spacing: 0.5px;
    background-color: #f5f5f5;
    .card-body, .modal-body, .card {
        .form-control, select, input[type=text], .form-select, textarea.form-control {
            border-radius: 6px; 
            border: 1px solid #ddd !important;
            border-style: solid !important;
        }
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
    span {
        text-transform: none;
        letter-spacing: 0px;
    }
  }
  
  .text-secondary {
    color: $indigo !important;
  } 
// Navbar

 #main-navbar {
  font-size: $font-size-sm;
  background-color: #292D33 !important;
  font-weight: 500; 
  text-transform: uppercase;

  .navbar-nav {
    .nav-link { 
      font-size: .9rem;
      letter-spacing: 1px; 
      color: rgba(255,255,255, 0.75);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;

      @media (max-width: 767px) { 
        padding: 0.75rem 1rem;
      } 
      @media (min-width: 1400px) {
        padding-left: 0.75rem !important; 
        padding-right: 0.75rem !important;  
      } 


        @media (min-width: 768px) and (max-width: 1200px) {  
            i {
                display: none;
            }
        }
      & > i {
        color: $gray-700;
        margin-right: 0.125rem; 
        font-size: 18px; 
      } 
      &:hover { 
        color: rgba(255,255,255, 1);
        & > i {
          color: $blue; 
        } 
      }
    }
  }

  .navbar-brand {  
    font-weight: 600;
    margin: 1rem 0;
    letter-spacing: 2px;
  }
  .dropdown-toggle::after {
      display: none;
  }
  .dropdown-menu { 
    a { 
        padding-top: 0.625rem;
        padding-bottom: 0.625rem; 
        font-size: .925em; 
        min-width: 220px; 
        border-radius: 0.375rem;
        min-height: 24px;
            i {
                color: $gray-700;
                margin-right: 0.125rem; 
                font-size: 14px !important; 
                width: 18px;
                
            } 
            &:hover {  
                background-color: #007bff2b;
                i {
                    color: $blue; 
                } 
            }
        }
    }
}


@media (min-width: 768px) { 
    #main-navbar {
        .container { 
            position: relative;
        }
        border-top: 30px solid #363b42;
        .navbar-nav:first-child { 
            margin-right: 0 !important;
        }
        .navbar-nav:last-child {
            position: absolute;  
            top: -38px;
            height: 30px;
            right: 10px;
            .nav-item {
                .nav-link {
                    padding: 0.25rem 1rem !important;
                    font-size: .8rem;
                }
            }
        }
    }
}

.navbar-toggler {
    border: 0;
}
.bg-light {
    border: 1px solid rgba(0, 0, 0, .1); 

  &.navbar-fixed-top {
    border-width: 0 0 1px;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0;
  }
}

.nav-item {
  margin-right: 0rem;
}

// Buttons
.modal-dialog {
    display: flex !important;
    align-items: center !important;
    min-height: calc(100% - 1rem) !important;
    .modal-body { 
        padding: 1.25rem 1.75rem;
    }
    .modal-header { 
        padding: 1.25rem  1.75rem;
        border: 0;
    }
    .modal-footer { 
        padding:  1.25rem  1.75rem;
        border: 0;
        background-color: #f4f4f4;
    }
}
.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
  font-weight: 500 !important;
  text-decoration: none !important;

  &-sm {
    font-size: 12px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}
.nav-pills .nav-link, .nav-tabs .nav-link {
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9rem;
}
.btn-outline-secondary {
  color: $gray-600;
  border-color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    color: $white;
    background-color: $gray-400;
    border-color: $gray-400;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 .2rem rgba($gray-400, .5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography
// Tables

th {
  font-size: $font-size-sm;
  text-transform: uppercase;
}
.table {
  th,
  td {
    padding: 1rem;
  }

  &-sm {
    th,
    td {
      padding: .75rem;
    }
  }
}

// Navs

.dropdown-menu {
  font-size: $font-size-sm; 
}
 
.bg-light {
    background-color: #fafafa !important;
}

.card { 
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.05) , 1px 1px 2px rgba(0,0,0,0.05) ; 
    .card {
        box-shadow: none;
        border-width: 1px;
    }
    .card-header {
        border: 0; 
        background: none;
        padding: 1.25rem 1.75rem;
    }
    .card-body { 
        padding: 1.25rem 1.75rem;
    }
    .card-footer { 
        padding: 1.25rem 1.75rem; 
        border: 0;
        background-color: #fff;
    }
    .card-img-top {
        border-radius: 10px 10px 0 0 ;
    }
    &.card-link {
        &:hover { 
            box-shadow: 0 0 35px rgba(0,0,0,0.05) , 1px 1px 4px rgba(0,0,0,0.05) ; 
        }
    }
}
.rounded {
    border-radius: 10px !important;
}
